{{- if and .Values.persistence.enabled (not .Values.persistence.existingClaim) }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "ctfd.fullname" . }}-uploads
  labels:
    app: {{ include "ctfd.fullname" . }}
spec:
  accessModes:
    {{- toYaml .Values.persistence.accessModes | nindent 4 }}

  resources:
    requests:
      storage: {{ .Values.persistence.size }}

  {{- if .Values.persistence.storageClassName }}
  storageClassName: {{ .Values.persistence.storageClassName }}
  {{- end }}

  volumeMode: Filesystem
{{- end }}
