{{- if .Values.redis.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ctfd.fullname" . }}-redis
  labels:
    app: {{ include "ctfd.fullname" . }}-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "ctfd.fullname" . }}-redis
  template:
    metadata:
      labels:
        app: {{ include "ctfd.fullname" . }}-redis
    spec:
      securityContext:
        fsGroup: 999
      containers:
        - name: redis
          image: {{ .Values.redis.image }}
          imagePullPolicy: {{ .Values.redis.pullPolicy | default "IfNotPresent" }}
          securityContext:
            runAsUser: 999
            runAsGroup: 999
          ports:
            - name: redis
              containerPort: {{ .Values.redis.port }}
              protocol: TCP
          resources:
            {{- toYaml .Values.redis.resources | nindent 12 }}
          livenessProbe:
            tcpSocket:
              port: redis
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: redis
            initialDelaySeconds: 2
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "ctfd.fullname" . }}-redis
  labels:
    app: {{ include "ctfd.fullname" . }}-redis
spec:
  type: ClusterIP
  selector:
    app: {{ include "ctfd.fullname" . }}-redis
  ports:
    - name: redis
      port: {{ .Values.redis.port }}
      targetPort: {{ .Values.redis.port }}
      protocol: TCP
{{- end }}
